
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browser_upgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.hidden {
    display: none !important;
}

.visually_hidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

.visually_hidden.focusable:active,
.visually_hidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

.invisible {
    visibility: hidden;
}

.clear_fix:before,
.clear_fix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clear_fix:after {
    clear: both;
}

@media only screen and (min-width: 35em) {
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
}

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

html {
    overflow: auto;
    background: #508C47;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
}

.button_container_form {
    background: #98C25C;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 40px 0 rgba(128, 255, 0, 0.10), 5px 5px 0 0 #487E40, inset 0 -5px 0 0 #719440;
    border-radius: 15px;
    width: 200px;
    height: 200px;
}

.button_container_form > .component {
    width: auto;
    max-width: 150px;
    height: auto;
    border-radius: 400px;
}

.container_component {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 400px;
}

.container_component .component {
    width: auto;
    max-width: 100%;
    height: auto;
}

.component {
    #position: absolute;
}

#bear_form {
    position: absolute;
    align-self: center;
    justify-items: center;
    -moz-transform: scale(0.7);
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
}

#container_bear {
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-items: center;
    position: absolute;
    width: 100px;
    height: 100px;
    transform: translate(0px, 300px);
}

#image_container > #bear_form {
    width: auto;
    max-width: 100%;
    height: auto;
}

#container_head {
    position: absolute;
    width: 260px;
    height: 260px;
    transform: translate(0px, -140px);
}

#container_body {
    transform: translate(0px, 0px);
}

#container_left_arm {
    width: 120px;
    height: 120px;
    transform: translate(-130px, -40px);
}

#container_right_arm {
    width: 120px;
    height: 120px;
    transform: translate(130px, -40px);
}

#container_left_leg {
    width: 100px;
    height: 100px;
    transform: translate(-80px, 70px);
}

#container_right_leg {
    width: 100px;
    height: 100px;
    transform: translate(80px, 70px);
}

#container_left_ear {
    width: 100px;
    height: 100px;
    transform: translate(-94px, -220px);
}

#container_right_ear {
    width: 100px;
    height: 100px;
    transform: translate(94px, -220px)
}

#top_controller_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    float: left;
    padding: 40px;
}

.scroll_container {
    overflow: auto;
    white-space: nowrap;
}

#bottom_controller_container {
    width: 1700px;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px;
}

#controller_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

body {
    position: absolute;
    width: 100%;
    height: 100%;
}

.controller_button {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    display: block;
}

.video_link {
    opacity: 0.7;
    display: none;
}

#ear-ring-outer {
    content: '';
    width: 100px;
    height: 100px;
    border: 8px solid #fff;
    border-radius: 50%;
    position: absolute;
    top: 70px;
    left: 550px;
    animation: pulsate infinite 1s;
}

#ear-ring {
    content: '';
    width: 30px;
    height: 30px;
    border: 10px solid #fff;
    border-radius: 50%;
    position: absolute;
    top: 25px;
    left: 25px;
    animation: pulsate infinite 1s;
}

#foot-ring-outer {
    content: '';
    width: 100px;
    height: 100px;
    border: 8px solid #fff;
    border-radius: 50%;
    position: absolute;
    top: 400px;
    left: 500px;
    animation: pulsate infinite 1s;
}

#foot-ring {
    content: '';
    width: 30px;
    height: 30px;
    border: 10px solid #fff;
    border-radius: 50%;
    position: absolute;
    top: 25px;
    left: 25px;
    animation: pulsate infinite 1s;
}

#hand-ring-outer {
    content: '';
    width: 100px;
    height: 100px;
    border: 8px solid #fff;
    border-radius: 50%;
    position: absolute;
    top: 300px;
    left: 780px;
    animation: pulsate infinite 1s;
}

#hand-ring {
    content: '';
    width: 30px;
    height: 30px;
    border: 10px solid #fff;
    border-radius: 50%;
    position: absolute;
    top: 25px;
    left: 25px;
    animation: pulsate infinite 1s;
}

@-webkit-keyframes pulsate {
    0% {
        -webkit-transform: scale(1, 1);
    }
    50% {
        -webkit-transform: scale(1.3, 1.3);
    }
    100% {
        -webkit-transform: scale(1, 1);
    }
}
